---
import "/src/styles/global.css";
import Navbar from "../components/Navbar.astro";
import CardGrid from "../components/CardGrid.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tpotmon Gallery</title>
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    </head>
    <body class="bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-100">
        <!-- Navbar -->
        <Navbar title="Tpotmon" createLink="/create" />

        <!-- Main Content -->
        <div class="container mx-auto mt-6 px-4">
            <h1 class="text-2xl font-bold mb-6">Card Gallery</h1>
            <CardGrid />
        </div>
    </body>
</html>