---
import type { CollectionEntry } from 'astro:content';
// Define props with TypeScript interface
interface Props {
    card: CollectionEntry<'cards'>;
}

// Destructure props
const { card } = Astro.props;
---

<div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition-shadow dark:bg-gray-800">

  <!-- Card body -->
  <div class="p-4 pt-12">
    <!-- User info -->
    <div class="mb-4">
      <h3 class="text-lg font-bold">{card.name}</h3>
      <p class="text-gray-600 dark:text-gray-400 text-sm">@{card.username}</p>

    </div>
  
    <div>
      <p class="font-medium text-sm mb-1">{card.title}</p>
    
    </div>
  </div>
</div>