---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import CardItem from "./CardItem.astro";

// Fetch all cards from the collection
const cards = await getCollection('cards');
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {cards.map((entry: CollectionEntry<'cards'>) => (
      <CardItem card={entry} />
    ))}
  </div>